.add-posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.add-posts-content {
  background: var(--cards-color);
  width: 760px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 8px;
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow-cards);
}

.add-post-input {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.add-img-profile {
  width: 3rem;
  margin: 9px;
  border-radius: 50%;
}
.add-posts-text {
  margin-left: 70px;
}

.add-text {
  background: var(--bg-color);
  display: flex;
  color: var(--text-color);
  border: var(--border-color);
  width: 85%;
  height: 5vh;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}

.add-posts-icons {
  display: flex;
  gap: 30px;
}

.add-icon-midia,
.add-icon-article {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  gap: 5px;
  transition: 100ms;
  border-radius: 10px;
  padding: 0.5em 0.5em;
  margin-left: 24px;
  text-decoration: none;
}

.add-img {
  color: rgb(134, 134, 238);
}

.add-article {
  color: var(--logo-color);
}

@media screen and (min-width: 768px) {
  .add-icon-midia:hover,
  .add-icon-article:hover {
    background: var(--bg-color);
    border-radius: 10px;
    border: 1px solid var(--border-color);
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .add-posts-container {
    padding: 15px 0;
  }

  .add-posts-content {
    width: 90vw;
    /* height: 18vh; */
  }

  .add-img-profile {
    border-radius: 50%;
  }

  .add-posts-icons {
    gap: 1px;
    margin-top: 8px;
  }

  .add-icon-midia {
    font-size: 14px;
  }

  .add-icon-article {
    font-size: 14px;
  }
}
