.dark_mode {
    margin: 0 -10px 0 10px;
}

.dark_mode_label {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: grid;
  place-items: center;
  background: transparent;
  box-shadow: 0 0 1px 2px var(--fonte-branca);
  cursor: pointer;
  transition: 0.3s;
}
.dark_mode_label:after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 3px;
  left: 3px;

  border-radius: 180px;
  transition: 0.3s;
}
.dark_mode_input {
  width: 0;
  height: 0;
  visibility: hidden;
}
.dark_mode_input:checked + .dark_mode_label {
  box-shadow: 0 0 1px 2px #3b3b3b;
}

.dark_mode_label .icon {
  width: 24px;
  z-index: 100;
  transition: 0.3s;
  /* color: white; */
}

@media (max-width: 1700px) {
  .dark_mode {
    margin: -8px -50px 0 10px;

  }
}
