.dark_mode {
  display: flex;
  position: fixed;
  right: 40px;
  bottom: 30px;
}

.dark_mode_label {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: grid;
  place-items: center;
  background: transparent;
  box-shadow: 0 0 1px 2px #3b3b3b;
  cursor: pointer;
  transition: 0.3s;
}

.dark_mode_input {
  width: 0;
  height: 0;
  visibility: hidden;
}
.dark_mode_input:checked + .dark_mode_label {
  box-shadow: 0 0 1px 2px #fff;
}

.dark_mode_label .icon {
  width: 24px;
  z-index: 100;
  transition: 0.3s;
  /* color: white; */
}

@media screen and (max-width: 480px) {
  .dark_mode {
    position: absolute;
    right: 20px;
    top: 25px;
  }  
}
