.articles-container {
  background: var(--bg-form);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: auto;
  padding: 100px;
  overflow: hidden;
  gap: 30px;
}

.todo-container {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
}

.articles-add {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  gap: 20px;
  text-align: center;
  font-size: 16px;
  background: var(--bg-color);
  border-radius: 10px;
}

.articles-name {
  color: var(--text-color);
}

.articles-desc {
  width: 20vw;
  padding: 10px;
  background: var(--bg-form);
  color: var(--text-color);
  border: none;
  border-radius: 10px;
}

.articles-img {
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: 250ms;
}

.articles-img:hover {
  background: var(--text-color);
  color: var(--bg-form);
}

.articles-btn {
  padding: 10px;
  width: 20vw;
  color: var(--text-color);
  background: var(--logo-color);
  border: 1px solid var(--logo-color);
  border-radius: 10px;
  cursor: pointer;
  transition: 250ms;
}

.articles-btn:hover {
  border: 1px solid var(--logo-color);
  color: var(--logo-color);
  background: none;
}

.post-img {
  width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.posts {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 50px solid var(--bg-form);
}

@media screen and (max-width: 768px) {
    .post-content {
        width: 90vw;
    }

    .post-title {
        width: 80vw;
        font-size: 12px;
    }

    .post-img {
        width: 90vw;
    }
}