.articles-container {
  background: var(--bg-form);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: auto;
  padding-top: 100px;
  overflow: hidden;
  gap: 30px;
}

.post-content {
  width: 55vw;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
}

.post-title {
  width: 500px;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  background: var(--bg-color);
}

.post-img {
  background: var(--bg-color);
  width: 500px;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
    .post-content {
        width: 90vw;
    }

    .post-title {
        width: 80vw;
        font-size: 12px;
    }

    .post-img {
        width: 90vw;
    }
}