.article-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
    background: var(--bg-color);
    backdrop-filter: blur(10px);
    width: 100%;
    padding: 30px;
    gap: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.418);
    overflow: hidden;
}

.article-t {
    font-size: 18px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    transition: 250ms;
}

.article-content {
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.article-t:hover {
    color: var(--logo-color);
}

.art-card {
    background: var(--bg-form);
    padding: 20px;
    height: 12vh;
    width: 15vw;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--cards-color);
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
}

.art-desc {
    font-size: 12px;
    padding: 10px;
    font-weight: 300;
}

.art-caption {
    max-width: 7vw;
    height: 1vh;
    overflow-wrap: break-word;
    display: flex;
    align-items: center;
}

.art-image {
    max-width: 5vw;
    max-height: 5vh;
    border-radius: 10px;
    border: 1px solid var(--cards-color);
}

@media screen and (max-width: 768px) {
   .article-container {
    height: 50vh;
    justify-content: center;
   }

   .article-t {
    font-size: 12px;
   }

   .article-content {
    width: auto;
   }

   .art-card {
    width: 90vw;
    height: 20vh;
   }

   .art-image {
    max-width: 20vw;
    max-height: 20vh;
   }

   .art-caption {
    max-width: 25vw;
    height: 5vh;
   }
}