.article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100vw;
  z-index: 1000;
}

.art-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  transition: 350ms;
  margin-bottom: 1rem;
  border-radius: 15px;
}

.article-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
}

.art-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
}

.art-image {
  width: 23vw;
  height: 40vh;
  transition: 350ms;
  object-fit: cover;
  border-radius: 15px;
  margin: 0;
}

.art-type {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(73, 72, 72, 0.8);
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
}

.art-icon {
  display: flex;
  padding: 3px;
  border-radius: 50%;
  background: rgb(231, 45, 76);
  margin: 0;
}

.icon-art {
  margin: 0;
}

.art-author {
  color: #111;
  font-size: 14px;
  font-weight: 600;
}

.art-desc {
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 1rem;
  width: 23vw;
  height: 25vh;
  flex-direction: column;
}

.post-date-rec {
  color: #726e6e;
  font-size: 10px;
  font-weight: 600;
  display: flex;
  gap: 5px;
  margin: 0;
}

.art-caption-title {
  font-size: 18px;
  font-weight: 700;
  color: #494949;
  padding: .5rem 0;
}

.art-caption {
  overflow-y: scroll;
  display: flex;
  align-items: start;
  text-align: start;
  color: rgb(152, 152, 152);
  font-weight: 600;
  font-size: 14px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  flex-wrap: wrap;
  margin: 0;
  height: 100%;
  white-space: normal;
  word-break: break-word;
}

.art-caption::-webkit-scrollbar {
  width: 5px;
}

.infos-user-cap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

.author-photo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.modal-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-card-content {
  background: #eee;
  z-index: 1000;
  display: flex;
  border-radius: 15px;
}

.modal-image {
  width: 30vw;
  height: 60vh;
  object-fit: cover;
  background-position: center;
  border-radius: 15px;
}

.modal-content-art {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  padding: 5px;
  width: 30vw;
  background: #fff;
}

.desc-modal-1 {
  display: flex;
  flex-direction: column;
}

.desc-modal-2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.title-modal {
  color: #4d4d4d;
}

.caption-modal {
  color: #726e6e;
}

.modal-date {
  display: flex;
  font-size: 12px;
  color: #4d4d4d;
}

@media screen and (max-width: 768px) {
  .article-container {
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    border: none;
  }

  .article-content {
    height: auto;
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    border: none;
    width: 95%;
  }

  .art-card {
    margin-top: .5rem;
    margin-bottom: 0;
    flex-direction: row;
    background: #eee;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 98%;
  }

  .art-image {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    padding: 5px;
  }

  .art-desc {
    width: 70%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5px;
  }

  .art-author {
    font-size: 10px;
    width: 100%;
    color: #726e6e;
  }

  .art-caption-title {
    font-size: 12px;
    color: #111;
    text-align: start;
    width: 100%;
    font-weight: 400;
    margin: 0;
    padding: 2px 0;
  }

  .art-caption {
    width: 100%;
    height: 250px;
    text-align: start;
    font-size: 10px;
    color: #726e6e;
    margin: 0;
  }

  .post-date-rec {
    font-size: 7px;
    margin: 0;
  }

  .art-type {
    padding: 5px;
    font-size: 8px;
  }

  .modal-card-content {
    flex-direction: column;
  }

  .modal-image {
    width: 65vw;
    height: 40vh;
  }

  .modal-content-art {
    width: 65vw;
    height: 20vh;
    padding: 10px;
    gap: 10px;
  }

  .desc-modal-1 {
    font-size: 12px;
  }

  .desc-modal-2 {
    font-size: 8px;
  }
}