.article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  overflow: hidden;
  margin-bottom: 1rem;
  width: 100vw;
  z-index: 1000;
}

.art-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  transition: 350ms;
  margin-bottom: 3rem;
  border-radius: 15px;
}

.article-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 95%;
}

.art-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  background: #fff;
}

.art-image {
  width: 23vw;
  height: 40vh;
  transition: 350ms;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  margin: 0;
}

.art-type {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(7, 7, 7, 0.658);
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 10px;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
}

.art-icon {
  display: flex;
  padding: 3px;
  border-radius: 50%;
  background: rgb(231, 45, 76);
  margin: 0;
}

.icon-art {
  margin: 0;
}

.icon-profile {
  display: flex;
}

.art-author {
  color: #726e6e;
  font-weight: 700;
  font-size: 10px;
}

.load-more-btn {
  background: #000;
}

.art-desc {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 23vw;
  height: 35vh;
  flex-direction: column;
  padding: 8px 0; 
}

.post-date-rec {
  color: #726e6e;
  font-size: 10px;
  font-weight: 700;
  display: flex;
  gap: 5px;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.art-caption-title {
  font-size: 20px;
  font-weight: 600;
  color: #494949;
  padding: .1rem 0;
}

.art-caption {
  overflow-y: scroll;
  display: flex;
  align-items: start;
  text-align: start;
  color: rgb(122, 122, 122);
  font-weight: 600;
  font-size: 16px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  flex-wrap: wrap;
  margin: 0;
  height: 100%;
  white-space: normal;
  word-break: break-word;
}

.art-caption::-webkit-scrollbar {
  width: 5px;
}

.infos-user-cap {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
  padding: 15px 0;
  justify-content: start;
}

.author-photo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.modal-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-card-content {
  background: #eee;
  z-index: 1000;
  display: flex;
  border-radius: 15px;
}

.modal-image {
  width: 30vw;
  height: 60vh;
  object-fit: cover;
  background-position: center;
  border-radius: 15px;
  margin: 0;
}

.modal-content-art {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  padding: 5px;
  width: 30vw;
  background: #fff;
}

.desc-modal-1 {
  display: flex;
  flex-direction: column;
}

.desc-modal-2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.title-modal {
  color: #4d4d4d;
}

.caption-modal {
  color: #726e6e;
}

.modal-date {
  display: flex;
  font-size: 12px;
  color: #4d4d4d;
}

.load-more-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff; /* Cor de fundo */
  color: white; /* Cor do texto */
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-transform: uppercase;
}

.load-more-btn:hover {
  background-color: #0056b3; 
  transform: scale(1.05); 
}

.load-more-btn:focus {
  outline: none; 
}

.load-more-btn:active {
  background-color: #003f7f; 
}

.art-profile {
  width: 30px;
  border-radius: 50%;
}

.share-btn {
  color: #494949;
}

@media screen and (max-width: 768px) {
  .article-container {
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    border: none;
  }

  .article-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 1rem; 
    width: 95%;
  }

  .art-card {
    margin-top: .5rem;
    margin-bottom: 0;
    border-radius: 15px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 98%;
  }

  .infos-user-cap {
    margin: 0;
    padding: 0;
  }

  .art-image {
    width: 160px;
    height: 160px;
    border-radius:  15px;
  }

  .art-profile {
    width: 20px;
  }

  .art-desc {
    width: 55%;
    height: 165px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
  }

  .art-author {
    font-size: 8px;
    color: #726e6e;
    width: 50px;
    text-align: end;
  }

  .art-caption-title {
    font-size: 14px;
    color: #111;
    text-align: start;
    width: 100%;
    font-weight: 700;
    margin: 0;
    }

  .art-caption {
    width: 100%;
    height: 250px;
    text-align: start;
    font-size: 10px;
    font-weight: 700;
    color: #726e6e;
    margin: 0;
  }

  .post-date-rec {
    font-size: 8px;
    margin: 0;
  }

  .art-type {
    padding: 5px;
    font-size: 8px;
  }

  .modal-card-content {
    flex-direction: column;
  }

  .modal-image {
    width: 65vw;
    height: 40vh;
  }

  .modal-content-art {
    width: 65vw;
    height: 20vh;
    padding: 10px;
    gap: 10px;
  }

  .desc-modal-1 {
    font-size: 12px;
  }

  .desc-modal-2 {
    font-size: 8px;
  }
}