.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.profile-item {
    text-decoration: none;
    font-size: 18px;    
    color: var(--text-color);
    text-align: center;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    
}