.main-container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: var(--bg-color);
}


.bg-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .main-container {

  }
}