.main-container {
  width: 90vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #d3d0d0;
  background-color:  var(--dark-bg-color);
  width: 80vw;
  height: 0vh;
  border-radius: 15px;
  box-shadow: 0 0 8px 5px #00000023;
}

.main-profile {
  background-color: red;
  display: flex;
  align-items: center;
  gap: 20px;
}

.main-img-profile {
  border-radius: 50%;
  width: 60px;
}

.main-name-profile {
  color: #fff;
  text-decoration: none;
}

.main-posts-img {
  width: 30px;
}

@media screen and (max-width: 768px) {
  .main-container {
    width: 100vw;
    background: var(--dark-bg-color);
    height: 85vh;
  }
  
  .main-content {
    background: var(--dark-cards-color);
    height: 65vh;
    width: 90vw;
    border: 1px solid #6E7173;
    border-radius: 15px;
    color: rgb(204, 204, 204);
    box-shadow: 0 0 8px 8px #00000046;
  }
  
  .main-profile {
    background: var(--dark-cards-color);
    width: 80vw;
    height: 6vh;
    display: flex;
    gap: 15px;
    border-bottom: 1px solid #6e717325;
    margin-top: 6px;
  }
  
  .main-img-profile {
    width: 40px;
    border-radius: 50%;
    margin-left: 10px;
  }
  
  .main-name-profile {
    text-decoration: none;
    color: #fff;
  }
   
  .main-edit-icon {
    text-align: end;
    margin-left: 95px;
  }

  .main-posts-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }
  
  .main-posts-title {
    font-size: 18px;
    width: 80vw;
  }

  .main-span {
    background: var(--dark-bg-color);
    margin-left: 90px;
    border-radius: 10px;
    border: 1px solid #6E7173;
    font-size: 12px;
    font-weight: 400;
    padding: 2px;
  }

  .main-posts-description {
    width: 80vw;
    border-bottom: 1px solid #6e717336;
  }
  
  .main-posts-img {
    width: 70vw;
    height: 35vh;
  }
}

