.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: var(--bg-color);
}


.bg-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.articles-home {
  width: 100%;
  background: #000;
}

.posts-recent-home {
  color: #ccc;
}

@media screen and (max-width: 768px) {

}