.modal-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: #0807077a;
  z-index: 1000;
  transition: 65ms;
  cursor: pointer;
}

.modal-content {
  background: var(--dark-cards-color);
  position: relative;
  z-index: 1001;
  padding: 10px;
  height: 600px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid var(--dark-border-color);
}
