.side-menu {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.side-infos {
  display: flex;
  width: 280px;
  height: 150px;
  border-radius: 25px;
  padding: 10px;
  flex-direction: column;
  gap: 1rem;
}

.side-infos h4 {
  color: #5c5c5c;
  display: flex; 
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  border-radius: 5px;
}

.link-list {
  color: #eee;
  background: rgb(240, 46, 78);
  padding: 1rem;
  border-radius: 15px;
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.icon-list {
  text-decoration: none;
  font-size: 10px;
  background: rgb(240, 46, 78);
  display: flex;
  padding: 5px;
  border-radius: 50%;
}

.icons {
  color: #eee;
}

.icon-side {
  color: #eee;
}

.side-text {
  font-size: 12px;
}

.side-menu .MuiListItem-root {
  padding: 10px 20px;
}

.side-menu .MuiListItemText-primary {
  font-size: 14px;
  margin: 0 1rem; 
}

.side-menu .MuiListItem-root:hover {
  background-color: rgba(0, 0, 0, 0.08);
}