

.header-container {
  display: flex;
  justify-content: space-evenly;
  height: 7rem;
  align-items: center;
}

.logo {
  font-size: 45px; 
  font-family: 'Ephesis', cursive;
  color: #302a2a;           
  font-weight: 100;
}

.logo:hover {
  scale: calc(1.1);
  transition: 95ms;
  cursor: pointer;
  color: #B31E55;
}

.nav-items {
  display: flex;
  gap: 35px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.items {
  display: flex;
  color: rgb(40, 38, 38);
  text-decoration: none;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.items:hover {
  cursor: pointer;
  color: #B31E55;
  height: 100%;
}