.redes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background: var(--bg-form);
    width: 100%;
    padding: 20px;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(15, 15, 15, 0.747));
}

.redes-content {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.rede {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    margin: 10px;
    text-decoration: none;
    transition: 550ms;
    color: var(--text-color);
    border: 0.5px solid var(--cards-color);
    border-radius: 30px;
    background-image: linear-gradient(rgba(26, 25, 25, 0.432), rgb(0, 0, 0));
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.534);
}

.rede-icon {
    transition: 350ms;
}

.rede:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .redes-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        padding-bottom: 40px;
    }
    
    .redes-content {
        flex-direction: column;
        padding: 20px;
        justify-content: center;
    }

    .rede {
        justify-content: space-between;
        font-size: 12px;
    }

    .rede:hover{
        transform: scale(1);
    }
}