.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 12vw;
  background: #1a1717;
  border-top: 8px solid #000;
  box-shadow: 10px 0 15px #00000069;
}

.footer-nav {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.footer-content {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 35px;
}

.footer-item {
  text-decoration: none;
  color: #aaa;
  font-size: 20px;
}

.footer-item:hover {
  color: #e9e9e9;
}

.footer-logo-name {
  color: #fff;
  font-family: "Ephesis", cursive;
  font-weight: 100;
  font-size: 35px;
}

.footer-copy {
  color: #909090;
  background: #110f0f;
  width: 100%;
  height: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .footer-container {
    display: none;
  }
}