.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 10vw;
  background: var(--bg-form);
  border-top: var(--border-color);
  box-shadow: var(--box-shadow-cards);
  position: sticky;
}

.footer-nav {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.footer-content {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 35px;
}

.footer-item {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.footer-item:hover {
  color: var(--logo-color);
}

.footer-logo-name {
  color: var(--logo-color);
  font-family: "Ephesis", cursive;
  font-weight: 100;
  font-size: 35px;
  padding: 20px;
}

.footer-copy {
  color: var(--cards-color);
  /* background: var(--bg-color); */
  width: 100%;
  height: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .footer-container {
    display: none;
  }
}