@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-logo: font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-all: font-family: 'Montserrat', sans-serif;

  --main-color: ;
  --logo-color: #F26B9C;
  --bg-color: ;
  --bg-color: #ffffff;
  --border-color: #afafaf;
  --cards-color: #c5c5c5;
}

[data-theme="dark"] {
  --main-color: ;
  --logo-color: #F26B9C;
  --bg-color: ;
  --bg-color: #212625;
  --border-color: #6E7173;
  --cards-color: #2E3331;
}

.container {
  background: var(--bg-color);
  transition: transform 0.45s ease, background 0.45s ease;
}