@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --logo-font: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --main-font: "Montserrat", sans-serif;

  --logo-color: #f26b9c;
  --bg-color: #ffffff;
  --border-color: #afafaf;
  --cards-color: #c5c5c5;

  --box-shadow-cards: 0 0 20px 6px #0000002a; 
}

[data-theme="dark"] {
  --logo-color: #f26b9c;
  --bg-color: #212625;
  --border-color: #6e71732c;
  --cards-color: #2e3331;
}

.container {
  background: var(--bg-color);
  transition: transform 0.45s ease, background 0.45s ease;
}
