.nav-bottom-container {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-bottom-container {
    width: 100vw;
    height: 65px;
    border-top: 1px solid #6e717346;
    background: var(--bg-color);
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    box-shadow: 15px 0 8px #00000045;    
  }

  .nav-item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 90%;
  }

  .nav-item {
    color: #e4e4e4;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-name {
    font-size: 10px;
    text-align: center;
  }

  @media (min-width: 320px) and (max-width: 480px) {
    .nav-bottom-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
