.banner-container {
  position: relative;
  width: 95vw;
  border-radius: 40px;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  margin-bottom: 1rem;
}

@keyframes zoomOut {
  0% {
    transform: scale(1.2); /* Inicia com um zoom maior */
  }
  100% {
    transform: scale(1); /* Termina sem zoom */
  }
}

.banner-item {
  position: relative;
  width: 95%;
  border-radius: 40px;
  height: 100%;
  background-position: center;
  object-fit: cover;
  background-size:  cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.808);
  animation: zoomOut 25s linear forwards;
}

.banner-overlay {
  position: absolute;
  bottom: 20%;
  left: 5%;
  text-align: left;
  color: white;
  display: flex;
  flex-direction: column;
}

.banner-link {
  position: absolute;
  bottom: 5%;
  right: 5%;
  background: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: 800;
  color: #363636;
  border-radius: 30px;
  transition: 100ms;
  font-size: 12px;
}

.banner-link:hover {
  background: #ddd;
}

.filter-banner {
  color: rgb(243, 243, 243);
  margin: 0;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
}

.txt-banner {
  display: flex;
  font-size: 100px;
  font-weight: 400;
  color: #fffffff3;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
}

.cap-banner {
  text-align: start;
  font-size: 22px;
  font-weight: 100;
  color: #ffffffd8;
  margin-left: 5px;
}

.banner-p {
  font-size: 14px;
  font-weight: 300;
  display: flex;
  align-items: center;
  color: #363636;
}

.icon-banner {
  background: rgb(221, 29, 61);
  display: flex;
  padding: 5px;
  border-radius: 50%;
}

.dest-banner {
  padding-bottom: 1rem;
  font-size: 24px;
  color: #363636;

}

.banner-cap {
  font-size: 14px;
  font-weight: 300;
}

.banner-date {
  margin-top: 1rem;
  font-size: 10px;
}

.tags {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.arrows-container {
  position: absolute;
  bottom: 5%;
  left: 5%;
  display: flex;
  gap: 15px;
}

.arrow-button {
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  transition: 60ms;
}

.left {
  background: transparent;
  border: .1px solid #fff;
  border-radius: 50%;
  display: flex;
}

.right {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #363636;
  display: flex;
  justify-content: center;
}

  .left:hover {
    background: #fff;
    color: #363636;
  }

  .right:hover {
    background: transparent;
    color: #fff;
  }

.dots-container {
  position: absolute;
  bottom: 10px;
  right: 0px;
  width: 100%;
  text-align: center;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active,
.dot:hover {
  background: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 768px) {
  .banner-container {
    height: 60vh;
    margin-top: 1rem;
    border-radius: 25px;
  }

  .banner-item {
    width: 100%;
    border-radius: 15px;
  }

  .banner-link {
    display: none;
  }
  
  .arrows-container {
    display: none;
  }

  .banner-overlay {
    width: 100%;
    bottom: 10%;
    left: 5%;
    padding: 10px;
    border-radius: 25px;
  }

  .txt-banner {
    font-size: 38px;
    font-weight: 300;
  }

  .cap-banner {
    font-size: 14px;
    margin: 0;
  }

  .banner-p {
    font-size: 12px;
    width: 100%;
  }

  .banner-cap {
    font-size: 8px;
    font-weight: 300;
  }

  .banner-date {
    font-size: 8px;
  }

  .filter-banner {
    font-size: 10px;
    margin: 0;

  }
}