.banner-container {
  position: relative;
  width: 100vw;
  background-position: center;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  margin-bottom: 1rem;
}

.banner-item {
  position: relative;
  width: 95%;
  border-radius: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: start;
  background-size:  cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.808);
}

.banner-overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-align: left;
  color: white;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.filter-banner {
  color: rgb(243, 243, 243);
  margin: 0;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
}

.txt-banner {
  font-size: 38px;
  margin-top: 10px;
  color: #e6e5e5de;
}

.cap-banner {
  font-size: 20px;
  width: 40%;
  color: #c9c9c9ec;
}

.banner-p {
  font-size: 14px;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-banner {
  background: rgb(221, 29, 61);
  display: flex;
  padding: 5px;
  border-radius: 50%;
}

.dest-banner {
  padding-bottom: 1rem;
  font-size: 24px;
  color: #eee;
}

.banner-cap {
  font-size: 14px;
  font-weight: 300;
}

.banner-date {
  margin-top: 1rem;
  font-size: 10px;
}

.tags {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .banner-container {
    height: 30vh;
    margin-top: 1rem;
  }

  .banner-item {
    width: 95%;
    border-radius: 15px;
  }

  .banner-overlay {
    width: 90%;
    bottom: 0px;
    left: 2px;
    padding: 10px;
  }

  .txt-banner {
    font-size: 12px;
    font-weight: 300;
  }

  .cap-banner {
    display: none;
  }

  .banner-p {
    font-size: 12px;
  }

  .banner-cap {
    font-size: 8px;
    font-weight: 300;
  }

  .banner-date {
    font-size: 8px;
  }

  .filter-banner {
    font-size: 10px;
    margin: 0;

  }
}