.banner-container {
  display: flex;
<<<<<<< HEAD
  align-items: center;
  height: 13rem;
  width: 66rem;
  margin: 30px 34rem 20px 34rem;
  border-radius: 15px;
}

.banner {
  color: #b31e55;
  font-size: 75px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-left: 45px;
}
=======
  justify-content: center;
  align-items: center;
  height: 18vh;
}

.banner {
  font-size: 65px;
  color: #bb098b;
}

@media (min-width: 320px) and (max-width: 460px) {
  .banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
  }

  .banner {
    font-size: 18px;
  }
  
}

@media screen and (max-width: 768px) {
  .banner-container {
    display: none;
  }
}
>>>>>>> 40f1210296fd5f39fff3b7d0b25a4435c641cab0
